@model List<SanaDotnetAssessment.Web.Core.Domain.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Database Products</h2>

<p>
    @Html.ActionLink("Create New Product", "New", "Product", new { @class="btn btn-primary"})
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th style="text-align:center">#</th>
            <th style="text-align:center">Name</th>
            <th style="text-align:center">Price</th>
            <th style="text-align:center">Action</th>
        </tr>
    </thead>
    @{ int i = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center">@i</td>
            <td style="text-align:center">
                @Html.DisplayFor(model => item.ProductName)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td style="text-align:center">
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
            </td>
        </tr>
        { i++; }
    }

</table>
